[2017-05-15 11:46] math625f opened #1 "Can't run app"
I'm having problems running the application, getting the following error:
`SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode`

I haven't used node much, I've tried googling the issue but so far I haven't found anything useful.. Will I have to edit every .js file, to change variables from let and so on to var?

[2017-05-15 12:18] makkoli commented on #1
No, wepback is supposed to transpile all ES6 functionality to ES5. Once you have the project, run "npm install" in the root directory where package.json is and then "npm run dev". This will host a node.js server at localhost:4000 that you can point your browser to. Keep in mind that this is still a work in progress so we haven't built a production configuration with webpack yet. Let me know if thi

[2017-05-15 13:05] math625f commented on #1
@makkoli This is what I did, so I probably just did something wrong along the way..
I'll clone a fresh repo and try again!

[2017-05-15 13:21] ahstein3521 commented on #1
You might need to update to a newer version of node.

On Mon, May 15, 2017 at 9:05 AM, math625f <notifications@github.com> wrote:

[2017-05-15 14:35] math625f commented on #1
Working now, thanks! Now I just need to figure out how to make the login form work ^^

I'll mark this issue as closed right away!

[2017-05-15 14:35] #1 closed

[2017-06-18 04:58] lanesawyer opened #5 "Login is not detecting existing user and does not load users league"
I'm getting this error in the console when I log in to the app:

[code]

It still signs me and loads the app, but none of my existing leagues are shown.

[2017-06-18 05:45] #5 closed

[2017-06-19 00:03] makkoli commented on #5
So I ran into this issue again after this PR when I tried to run the app. I found the problem was googleId was not matching the field in the mongoose model which was google_id. Reverting both googleId to google_id solved it.

[2017-06-19 00:20] makkoli opened #8 "Issue with initialization script."
The initialization script is currently working somewhat. It will execute and do its task but hangs after it is completed since there is some problem with Promise.all.

In `server/init/initRoles.js`

[code]

The then should be closing the database connection to finish the script. However putting `mongoose.disconnect()` or `mongoose.connection.close()` after the promises complete will cause the conn

[2017-06-19 03:20] ahstein3521 commented on #5
Sorry about that, I thought I had changed it in both files from camelCase
to using the underscore (for consistent field names within the schema).  I
won't let you guys down again

On Sun, Jun 18, 2017 at 8:03 PM, makkoli <notifications@github.com> wrote:

[2017-06-28 01:29] lanesawyer opened #10 "Switch to FCC's Eslint Config"
I think it might be valuable to switch over to using FCC's eslint config to help standardize the styling guidelines used across the many FCC projects.

I've already ran it using the FCC config and there were over 1000 errors. I'm perfectly happy to go address all of them, but I wanted to check to see if that's something that's even desired for this project.

[2017-06-28 02:05] CodeNonprofit commented on #10
Yes, if you'd like to do this we'd be happy to have your help. Thanks Lane.

[2017-06-30 04:01] lanesawyer opened #13 "Add source map to webpack"
It would really help development in Chrome devtools if we set up webpack to emit a source map so that we can set breakpoints on the real lines of code, rather than what is transpiled into the bundle. Here's the documentation: https://webpack.js.org/configuration/devtool/#devtool

Essentially, it's just a one line add to the webpack.config.js of `devtool: 'source-map'`.

I figure we could add a "fi

[2017-07-03 21:01] #10 closed

[2017-07-06 20:51] #13 closed

[2017-07-22 00:45] makkoli commented on #8
#25 fixed the issue.

[2017-07-22 00:45] #8 closed

[2017-08-03 22:22] makkoli opened #39 "Fix/Remove the update column under team roster"
On the roster view under the teams tab in the league dashboard, the update column needs to be removed from the array that is used to render the columns. We no longer want to update players through the teams.

[2017-08-03 22:23] makkoli opened #40 "Fix/Under edit team modal change "Check if active" text"
Under the teams tab in the league dashboard, the edit modal text next to the checkbox needs to be changed from "Check if active" to "Check if team is active"

[2017-08-03 22:28] makkoli opened #41 "Fix/Edit player form label misaligned"
The "Team" field label in the edit player form under the player tab in the league dashboard is aligned center and needs to be aligned left.

This issue also affects the add player form under the players tab as well.

There is a player form template that will have to be changed. Any style added for select inputs should be in the style sheet under "client/src/components/style.js"

[2017-08-03 22:30] makkoli opened #42 "Feat/View player needs to be styled"
The view player page under the players tab in the league dashboard needs to be styled. There is currently no styling added to this page. As of right now, all styling is being placed in "client/src/components/style.js"

[2017-08-03 22:33] makkoli opened #43 "Feat/Style player registration page"
The view page under player registrations link under the player tab in the league dashboard needs to be styled. This could also be done in conjunction with issue #42

Any styles should be added to "client/src/components/style.js" for now.

[2017-08-03 22:34] makkoli opened #44 "Fix/Assign column in player registrations"
The assign column in the player registrations link under players tab in the league dashboard needs to be changed from
Column name: Assign -> Approve
Column Icon: Edit Pencil -> Checkmark

[2017-08-03 22:42] makkoli opened #45 "Feat/Change assign player form"
The assign player form needs to be improved so it can handle assigning multiple players to a single team.

Currently, the assign player form only handles assigning a single player to a single team. It would be better to use something like the Material-UI stepper component.

Step 1: Display a list of all players in the league that are not in an active season and display the players with a checkbox

[2017-08-03 22:45] makkoli opened #46 "Fix/Change description for active teams in a season"
The teams page under the seasons tab in the league dashboard needs to have the title needs to be changed from
Available Teams -> Seasons Active Teams

[2017-08-03 22:48] makkoli opened #47 "Feat/Add description to delete season modal"
The delete modal under seasons tab in the league dashboard needs to have a child component added. This child component needs to says:

Are you sure you want to delete [season name]? This action cannot be undone.

[2017-08-03 22:50] makkoli opened #48 "Fix/Remove delete league from settings tab"
The delete league link under the settings tab in the league dashboard needs to be removed.

[2017-08-03 22:56] makkoli opened #49 "Fix/Break up CSS file"
The CSS file in the "client/src/components/style.js" needs to be broken up into smaller files.

These smaller files and themes.js can be placed in their own directory and referenced using a file that exports all the modules. These will make the css easier to maintain.

[2017-08-03 23:29] ahstein3521 opened #50 "JSON Schema for game stats"
We're going to introduce stat tracking on a sport-by-sport basis. We'll need a JSON schema for each sport. Please leave a comment with a proposed schema including any attributes you think we'd need to store that are important to stat-keeping for that sport.

The sports we're currently offering are:

- Soccer

- Football

- Basketball

- Baseball

- Hockey

I'd be happy to answer any questions. Tha

[2017-08-09 20:38] ajGingrich opened #51 "Unexpected token ..."
I would like to contribute to this project but when using `npm run dev` I am thrown an error.

`league-for-good\server\api\registration.js:25
        const player = ({...req.body, ...{ leagueId }});`

From what I understand `...` is ES7 and/or experimental and Babel may not catching it. How should I proceed?

[2017-08-09 20:39] ajGingrich commented on #50
This is my first time contributing and I would like to work on this. I will shortly post a proposed schema once I get the project working on my local machine to understand if this is team oriented or individual stats.

[2017-08-09 20:52] ahstein3521 commented on #51
That's a syntax error, I will update the master branch later today. In the
meantime, if you want to work on a different branch, just change that line
to :
*const player = Object.assign({}, req.body, { leagueId });*

On Wed, Aug 9, 2017 at 4:38 PM, Andrew Gingrich <notifications@github.com>
wrote:

[2017-08-09 20:54] ahstein3521 commented on #50
Thanks for taking an interest! I think the plan is to store team stats for
each game and then generate individual player stats from that.

On Wed, Aug 9, 2017 at 4:39 PM, Andrew Gingrich <notifications@github.com>
wrote:

[2017-08-09 20:56] ahstein3521 commented on #50
If you run into any issues getting the program to start, let me know.

On Wed, Aug 9, 2017 at 4:54 PM, Adam Stein <adamhs3521@gmail.com> wrote:

[2017-08-09 23:13] ajGingrich commented on #51
ok thanks!

[2017-08-09 23:13] #51 closed

[2017-08-10 17:20] ajGingrich commented on #50
I was able to run the developement originally but and I tried to log-in with Google but had an error from my app consol.e. I fixed the error and now I have an error connected to mongoDB. The app will start after `npm run dev` but I can't hangs on the login.

`Error connecting to MongoDB: { MongoError: connection 0 to ds031617.mlab.com:31617 timed out`

I also am getting a large amount of webpack c

[2017-08-10 17:25] ajGingrich commented on #50
I wrote a basically schema for the sports. Obviously there are alot of stats for each sports so I didn't include everything. Let me know what you think.

    {
	"soccer": {
		"gameResult": "string",
		"offensive": {
			"goals": "integer",
			"assists": "integer",
			"shots": "integer",
			"shotsOnTarget": "integer",
		}
		"defensive": {
			"goalsAgainst": "integer",
			"shotsAllowed": "integer",

[2017-08-10 18:46] paulywill commented on #50
For hockey there should be a stat on "Penalty Time" as well.

[2017-08-10 22:14] ajGingrich commented on #50
thanks for suggestion. I updated the hockey schema to include Penalty Time

[2017-08-12 14:11] vikramnr commented on #48
@makkoli   I'm fairly new contributing so let me know if I can work on this.

[2017-08-12 14:19] vikramnr commented on #46
@makkoli Let me know https://github.com/vikramnr/league-for-good/commit/343e8bfff7f29a232e10ed6173f51b223ddfe971 if this fixed the issue

[2017-08-12 18:24] makkoli commented on #46
@vikramnr That fixed it. You should submit a pull request and reference this issue in your description. Let me know if you need any help on how to do that.

[2017-08-12 18:25] vikramnr commented on #46
Yeah will raise it. Thanks

On 12 Aug 2017 11:54 p.m., "makkoli" <notifications@github.com> wrote:

this issue in your description. Let me know if you need any help on how to
do that.

[2017-08-12 18:25] makkoli commented on #48
@vikramnr Feel free to work on this and don't be afraid to ask for help if you need it.

[2017-08-13 09:19] vikramnr commented on #48
@makkoli  👍

[2017-08-13 14:31] #46 closed

[2017-08-13 14:31] #40 closed

[2017-08-14 01:58] ajGingrich commented on #44
I can work on this. I'll make a pull request tomorrow

[2017-08-15 12:14] #44 closed

[2017-08-16 06:29] vikramnr commented on #48
@makkoli   Should I also remove the [form](https://github.com/freeCodeCamp/league-for-good/tree/3aa213664958d2534090d106c62769ff98e62cc7/client/src/components/dashboard/settings/forms) for delete league?

[2017-08-16 21:31] satyadeeproat opened #54 "Issue on setting up Google API credentials"
I have set my .env file like this
MONGO_URI = 'mongodb://localhost:27017/league-for-good'
GOOGLE_CLIENT_ID =  '932757790180-0ref2odnm0v9uemj93ib6n3mhr2hescn.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET =  'Gh4wqdrg1bnUfYHa2BsnXx3x'
SESSION_SECRET =  'xyz'
GOOGLE_CALLBACK_URL = 'http://localhost:4000/auth/google/callback'

still I am getting this error on choosing the account for login after cl

[2017-08-17 01:03] makkoli commented on #48
Yeah, we won't be needing that anymore.

[2017-08-17 09:12] DusanSacha commented on #54
Hi, I also set it up recently, tested it right now and it is working for me.

Have you set up OAuth 2.0 client IDs in [Google Dev.console](https://console.developers.google.com) correctly?

Authorized JavaScript origins: http://localhost:4000
Authorized redirect URIs: http://localhost:4000/auth/google/callback

[2017-08-17 10:42] satyadeeproat commented on #54
Am I doing it right?
![screen shot 2017-08-17 at 4 11 47 pm](https://user-images.githubusercontent.com/10433604/29408713-e3eeab4a-8366-11e7-8444-066ab4256642.png)

[2017-08-17 11:18] DusanSacha commented on #54
I think, you are doing it right. It same on my settings.

Make sure your Google+ API is enabled - in your project Dashboard.
If not enable it under the link on top.

![league](https://user-images.githubusercontent.com/16412025/29409871-7023c910-834e-11e7-971a-6e0f569bd37d.png)

[2017-08-17 14:56] satyadeeproat commented on #54
YEs that was the issue . Thanks @DusanSacha

[2017-08-17 14:57] #54 closed

[2017-08-17 15:18] ahstein3521 commented on #54
Just an FYI for future reference, but you never want to publish sensitive
information like API keys for people to be able  to see. That's why it's
placed in a .env file. I would have google reassign you a new client_id and
client_secret, and use those for your project instance as soon as possible.

On Thu, Aug 17, 2017 at 10:57 AM, Satyadeep Roat <notifications@github.com>
wrote:

[2017-08-18 22:04] makkoli opened #55 "Writing tests"
We need tests to be written for server and client side.

There are example tests in `server/models/__tests__` and `client/reducers/__tests__`

[2017-08-19 09:19] satyadeeproat commented on #54
yes I have reset that. Thank you for the information

[2017-08-20 18:44] satyadeeproat commented on #41
Hi @makkoli I want to try this one. This one will be my first contribution . Should I make a PR?

[2017-08-20 20:05] ajGingrich commented on #39
i'll work on this

[2017-08-20 20:45] makkoli commented on #39
Sounds good, thanks.

[2017-08-20 20:58] makkoli commented on #41
Hey @satyadeeproat, you will want to fork the repo and make your changes. Once you got the issue fixed, do npm run test in the root directory and make sure you're passing all the tests. If you do, make a PR and me or @ahstein3521 will review it. We'll either accept it or give feedback on what to fix before we can accept it.

There is also a contributing.md file in the repo you can read your get mo

[2017-08-20 21:37] ajGingrich commented on #39
I get two errors when running npm test before making any modifications

    ...league-for-good\client\src\components\dashboard\helper\tableTemplate\__original              Table.jsx
    98:24  error  'onSort' is missing in props validation           react/prop-types
    100:32  error  'sortColumnIndex' is missing in props validation  react/prop-types

[2017-08-20 23:15] makkoli commented on #39
I have an unmodified master branch and I can't duplicate this when I run the tests. I looked at the file and it seems that if you add this:

[code]

to the prop types of the Headers component, I think it will fix it.
I added it and pushed it to the master branch, you can pull it and see if it will fix it.

[2017-08-21 01:35] ajGingrich commented on #39
ok great thanks that worked, I just had to switch these two lines because of alphabetical order

    sortDirection: PropTypes.string,
    sortColumnIndex: PropTypes.number

[2017-08-22 06:40] satyadeeproat commented on #41
I have made the pull request. You can check it

[2017-08-22 23:09] #39 closed

[2017-08-22 23:11] #41 closed

[2017-08-24 16:47] satyadeeproat commented on #42
So currently it's just showing ...loading , so we need to display the details of the player here?

[2017-08-26 09:45] satyadeeproat commented on #55
Anyone working on this right now?? Interested in writing test cases by myself

[2017-08-29 01:36] makkoli commented on #55
Writing tests is quite a bit of work. Multiple people can do this since a lot of tests need to be written.

[2017-08-30 03:54] Jlevyd15 opened #60 "Setup Issue: Error after running "npm run dev""
I've cloned a copy of the project ran npm install and setup the Google sign in stuff. (created the .env file) after running 'npm run dev' I'm getting an error in registration.js. "Unexpected token ..."

Looks like node is not able to recognize the spread operator??? Is anyone else seeing this? Any Ideas?

<img width="755" alt="screen shot 2017-08-29 at 8 45 20 pm" src="https://user-images.githubus

[2017-08-30 06:25] vikramnr commented on #49
@makkoli  So each theme should be broken up and each will added using `import` statement

[2017-08-31 02:26] makkoli commented on #42
It's supposed to display the players information when you click on a player. I'm not sure why you're only getting loading text. When it does load though, it shows the details but it's not formatted at all. It needs to be styled with some css.

[2017-08-31 02:31] makkoli commented on #49
Yeah, it's quite a bit tedious to fix this, but you can do it one of two ways. Separate all the style objects into their own files and update the import statements in the components. Or, move all the objects into their own files, import it into an index file and export an object to the components. Then, update the import statements in the components.

This is off the top of my head, there may be a

[2017-08-31 02:44] ahstein3521 commented on #60
I just pushed a quick fix,. Sorry about that... Let me know if it still isn't working, or if you come across any other issues.

[2017-08-31 21:26] benwh1te commented on #43
I would like to take on this issue

[2017-09-01 07:59] satyadeeproat commented on #42
@makkoli I am working on the style. I was facing the issue because I just filled the name, last name and email id while adding the data. In that case while viewing that player, you will get the player as undefined and hence it was showing loading

[2017-09-01 14:08] Jlevyd15 commented on #60
Yup, that was it. Everything seems to be working now, thanks! 👍

[2017-09-02 16:48] Jlevyd15 commented on #47
@makkoli I can open a PR for this

[2017-09-06 01:11] makkoli commented on #47
Thanks, I went ahead and pulled.

[2017-09-06 01:11] #47 closed

[2017-09-06 01:11] #60 closed

[2017-09-06 01:15] makkoli commented on #42
Ah, I see. If you get a chance, could you have it load some default text, if the data is undefined?

[2017-09-06 01:15] makkoli commented on #43
Did you get your google auth working?

[2017-09-07 14:21] benwh1te commented on #43
@makkoli I have not. I followed the set up process from the link in the README

[2017-09-08 03:23] makkoli commented on #43
@benwh1te What part of the set up is giving you the trouble?

[2017-09-08 13:20] ahstein3521 commented on #43
@benwh1te Could you send me a screenshot of the error you're receiving?

[2017-09-14 19:36] wildaces215 commented on #55
What library should the testing be done in chai? I think that would be best becuase it says with the free code camp course work

[2017-09-19 12:17] #48 closed

[2017-10-02 07:44] Knochenmark commented on #50
You might want to split up the stats into general game stats, stats for home and guest team. Otherwise I dont understand how you would use the "possesion" stat from soccer for example. Which would then be always 100%? Splitting the stats up would also allow for a "goal" property on each team object from which you can construct the end result instead of storing it as a string.

[2017-10-02 14:05] ajGingrich commented on #50
I believe each team would have JSON data for each game so it would already be split up.

[2017-10-02 17:14] Knochenmark commented on #50
Just did some digging and the first API i found also splits the home/away team. My main point stands, that saving the result as a string is a bad idea. It is way easier to construct the result from 2 properties and this allows for easier filtering of the match objects.
https://docs.crowdscores.com/#page:matches,header:matches-match-details

I've also seen they have further information like if a ga

[2017-10-03 02:58] paulywill opened #62 "Login keeps looping"
Able to get the login screen, but then when I select my google userid it attempts to redirect to:

`http://localhost:4000/?code=4/XbD2kh3OWXu5K3O7HoXIrRjoQBb_yDycI6fcsmg--dk#`

That does not look like like my GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET, SESSION_SECRET, or GOOGLE_CALLBACK_URL.

The loops back to login screen.

[2017-10-03 03:14] paulywill commented on #62
I have:

GOOGLE_CALLBACK_URL=http://localhost:4000

I suspect that's wrong.. ?

[2017-10-03 03:32] Jlevyd15 commented on #62
I have a working setup and i'm using this:
``` GOOGLE_CALLBACK_URL = http://localhost:4000/auth/google/callback```

[2017-10-03 12:57] paulywill commented on #62
Now I'm getting the following error:

  `Error
     at /Users/paulgamble/Coding/fcc/league-for-good/node_modules/passport-google-oauth20/lib/strategy.js:95:21
    at passBackControl (/Users/paulgamble/Coding/fcc/league-for-good/node_modules/oauth/lib/oauth2.js:132:9)
    at IncomingMessage.<anonymous> (/Users/paulgamble/Coding/fcc/league-for-good/node_modules/oauth/lib/oauth2.js:157:7)
    at emit

[2017-10-03 15:45] paulywill commented on #54
I'm getting stuck on the sign-in waiting for localhost.

any suggestions?

[2017-10-03 15:47] paulywill commented on #54
Error
    at Strategy.OAuth2Strategy.parseErrorResponse (/Users/paulgamble/Coding/fcc/league-for-good/node_modules/passport-oauth2/lib/strategy.js:329:12)
    at Strategy.OAuth2Strategy._createOAuthError (/Users/paulgamble/Coding/fcc/league-for-good/node_modules/passport-oauth2/lib/strategy.js:376:16)
    at /Users/paulgamble/Coding/fcc/league-for-good/node_modules/passport-oauth2/lib/strategy.js:

[2017-10-03 15:52] paulywill commented on #62
Referenced: https://github.com/freeCodeCamp/league-for-good/issues/54

@ajGingrich also suggested using mlab for mongodb uri was confused with

Forgot to run: **npm install**  before running **npm run dev**

[2017-10-03 15:52] #62 closed

[2017-10-03 16:38] paulywill commented on #55
@makkoli : how do we run the tests?

[2017-10-03 16:55] paulywill opened #64 "Unable to rename or delete league"
The delete link for the league is not working.

![image](https://user-images.githubusercontent.com/602422/31137703-02349ee6-a83a-11e7-98b8-e099e6e5c66a.png)

I accidentally put a team name (ie Eagles) in the league entry.  Unable to rename or delete the league.

[2017-10-03 23:52] makkoli commented on #55
@paulywill

`npm run test`

All our scripts are in the package.json file.

[2017-10-03 23:54] makkoli commented on #64
@paulywill The delete league feature is to delete the entire league. You may want to do another fork from the repo if you have an old version. That feature has been removed. You can delete a league manually in your mongo database.

[2017-10-08 18:25] Renestl commented on #49
Is anyone working on this? I will be glad to take a crack at this otherwise.

[2017-10-09 12:04] makkoli commented on #49
I don't think anyone is working on this so go for it.

[2017-10-17 01:01] paulywill commented on #48
@makkoli May I ask why the ability to remove a league was taken away?

[2017-10-17 03:16] makkoli commented on #48
FCC decided they didn't want to have that option available. They didn't want admins to delete leagues and lose all the data associated with them.

[2017-10-17 04:19] paulywill commented on #48
@makkoli: That makes sense.  Is there still a need for admins to send a housekeeping request?

FCC could keep the data but create a new record cloning the same data with the changes.

ie "Click here to request League Rename"
    "Click here to request Remove League Listing"

[2017-10-17 04:25] paulywill commented on #64
@makkoli explained in issue  https://github.com/freeCodeCamp/league-for-good/issues/48

I understand that FCC wants to maintain data on the backend.

I do propose offering a feature to send a "request for rename or delete" which would ideally clone a league record to another record with the rename changes and to remove the league from the user's/admin's listing for a delete respectively.

[2017-10-17 12:16] makkoli opened #68 "Add a way to rename leagues"
Under the settings tab, an icon needs to be added that will load a form that allows owners and admins of the league to rename it.

[2017-10-17 12:18] makkoli commented on #64
The rename feature should just change the name in the database and be done by the owner or admin. I opened issue #68 for this feature.

[2017-10-17 16:42] #64 closed

[2017-10-20 16:02] paulywill commented on #55
@makkoli what's the difference between .assert and .equal?

ie.

[code]

[2017-10-23 00:59] #49 closed

[2017-10-23 01:05] makkoli commented on #55
@paulywill In tape, our testing suite, .assert() is an alias for .ok(), which will coerce a value to see if it's truthy, so you don't pass in a second value to compare against since it just checks if it coerces to true.

The .equal() will check if the actual value returned === expected value you passed in. In this instance, the expected value data type you pass in can be a number, string, boolean,

[2017-10-28 04:14] thejayhaykid commented on #50
I'm focusing on football specifically cause I really want to make a football stats app cause I haven't found one. I looked at the team stats from `maxpreps.com` and looking at box scores from ESPN. This would be duplicated for home and away teams.

[code]

[2017-11-13 03:27] designbright opened #72 "Add Live Demo or Screen Shots to README"
It would be helpful to view what the site looks like without having to install it. Please add a live demo link or screen shots of full site to README

[2017-11-13 19:37] paulywill commented on #72
![image](https://user-images.githubusercontent.com/602422/32745241-26b00b78-c880-11e7-9be1-9b66e8cf3603.png)

[2017-11-13 19:41] paulywill commented on #72
I suppose if I have time I can do up video or animated GIF.

What would be helpful?
From the start of the installation to create a full league?

There are still several features still not implemented at this stage.

[2017-11-16 21:14] designbright commented on #72
@paulywill it would just be helpful to see what the existing site looks like in general. I was curious to see the layout, the styling, and the components before I installed it.

[2017-11-17 02:04] paulywill commented on #72
@makkoli, how many screenshots would be acceptable?

Or would an animated GIF be the way to go?

[2017-11-17 15:47] makkoli commented on #72
@designbright @paulywill, me and @ahstein3521 have actually talked to Quincy about this and he'd like us to get a live demo up and running as well as a video on how to set it up. I'm planning on throwing up a demo in heroku soon.

[2017-12-03 14:05] joshghent commented on #68
@makkoli Just to let you know I'm working on this feature and will report back.

[2018-01-03 01:30] naderabbara opened #73 "gulputil deprecation"
Gulputil was deprecated (I'm not sure when) so now npm kills the install process.

What do I do from here?

[2018-01-03 20:10] paulywill commented on #73
@naderabbara can you please post some output or screenshots?

[2018-01-03 21:13] paulywill commented on #73
I was able to reproduce the error:

![image](https://user-images.githubusercontent.com/602422/34540030-fed9638a-f0a0-11e7-882c-855744ea4a27.png)

[2018-01-03 21:26] paulywill commented on #73
@naderabbara : according to article on Medium : https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
This is just a warning until they resolve the problem.

I think npm probably still installed.
Try to carry on this the installation instructions if you see these files:
node_modules
npm-debug.log

[2018-01-03 22:55] joshghent commented on #73
Took a quick look at this and it is actually an issue with [gulp-decompress](https://github.com/kevva/gulp-decompress) plugin. It has an [open PR to fix the issue](https://github.com/kevva/gulp-decompress/pull/13) which then in turn should trickle up the dependancy tree and fix the issue with `image-webpack-loader` which league-for-good uses.

Below is a quick screenshot of where gulp-util is curr

[2018-01-11 02:05] naderabbara commented on #73
Sorry for the delay, had to delay due to illness.

I couldn't force an update or install over gulp-decompress so instead I made the copied the changes myself. Starting from a fresh install of nodejs and installing gulp-decompress from pieter's fork works as well.

For those with the same issue try either of the above. I'll keep this open until the PR committed.

ref https://github.com/kevva/gulp-d

[2018-01-11 02:08] naderabbara commented on #73
Sorry for the delay, had to delay due to illness.

I couldn't force an update or install over gulp-decompress so instead I copied the changes myself. Starting from a fresh install of nodejs and installing gulp-decompress from pieter's fork works as well. You might receive the deprecation warning if you do so, however npm will complete the process without any issue.

For those with the same issue t

[2018-01-11 02:35] naderabbara opened #74 "Unable to create league"
I'm unable to create a league. Everything is running well without errors, however, when I click on create from the create league field, it looks like there's no action fired.

[2018-01-11 03:10] naderabbara commented on #74
I hadn't changed to root from localhost to the server ip. 😓

[2018-01-11 03:10] #74 closed

[2018-03-07 22:22] makkoli commented on #68
Issue resolved, thanks @joshghent

[2018-03-07 22:22] #68 closed

[2018-03-07 22:42] makkoli opened #79 "Manually adding a player to a league bug"
Players tab > Manually add a new player to league.

If the user submits an email that is a duplicate in the database, it should respond with an error. It currently responds with as successful(even though it wasn't)

[2018-03-07 22:43] makkoli opened #80 "Adding a new player to a league does not update the player list"
Players tab > Manually adding a player to league

After successful insertion, the roster does not update with the new player.

[2018-03-07 22:44] makkoli opened #81 "Manually adding player does not show list of teams"
Players tab > Manually adding a new player

The team dropdown is supposed to have a list of all the teams, but nothing is displayed.

[2018-03-07 22:45] makkoli opened #82 "No validation on manually adding player form"
Players tab > manually adding player

There are no validations on the inputs in the manually adding a player form.

[2018-03-07 22:49] makkoli opened #83 "Error in viewing a player details on the list of all players"
Players tab > View a list of all players

When clicking View on the player list of a player, there is an error in console.

```Cannot read property 'teamId' of null```

[2018-03-07 22:51] makkoli opened #84 "Assign player form has no validation"
Players tab > assign a player to team

The form does not validate for jersey, it currently allows for negative and very large numbers and should be between 0-99. The team and player fields should have dropdowns with autocomplete filters that show all selectable teams and players and filters them as the user types.

[2018-03-07 22:52] makkoli opened #85 "Assign player form filter dropdowns"
Players tab > assign player to team

The team and player fields should have dropdowns with that show all selectable teams and players and filters them as the user types.

[2018-03-07 23:55] makkoli opened #86 "Teams should not be allowed to play against each other"
Seasons Tab > All seasons > Games

The new game form and edit game form after a game has been created currently allow the same team to be both the home and away team. When you select a team in one list, it should be removed from the other list.

[2018-03-10 01:55] BenHagan commented on #81
This getCurrTeams selector reduces the teams returned to the component to only those that are a part of an active season:

https://github.com/freeCodeCamp/league-for-good/blob/6127344823c227106bd1424b4bcbe00c906dc669/client/src/components/dashboard/players/forms/playerFormData.selector.js#L17-L38

If you create a season, then add your team to it, the team dropdown includes the team as expected.

I

[2018-03-10 16:18] afranco07 commented on #80
I want to try and work on this

[2018-03-16 04:42] fredwong-it commented on #79
I want to try this

[2018-03-18 22:27] BenHagan opened #87 "frt6y8"

[2018-03-22 18:27] #87 closed

[2018-04-03 13:52] afranco07 commented on #80
Hey I have this pretty much done, however I can't get the state to update the team roster without refreshing the page. Any help on which reducer to use for getting the latest team/league info?

[2018-04-09 21:53] jstephenperry commented on #50
What is the status on implementing this feature? I'd like to help implement a detailed soccer JSON structure as a current competitive soccer referee.

[2018-04-12 00:15] IRGames commented on #85
Just to be clear, we want this to look like the drop down menus for the teams in Season's "Schedule a new game" form?

![screen shot 2018-04-11 at 8 14 00 pm](https://user-images.githubusercontent.com/22033921/38649503-008c3d44-3dc5-11e8-9aff-ce2c7dc7e9ad.png)

Currently, the team and player fields in "Assign player form" have autocomplete, which seems fine.  If the preference is to have this clic

[2018-04-17 00:41] afranco07 commented on #80
@IRGames yea I'm having trouble updating the state of the roster. There is a reducer `UPDATE_TEAM` under `teams.js` in the reducers folder, but I'm not sure if it is working correctly. And like I said, refreshing the page updates the state correctly

Here is some code I wrote attempting to update state. This is in the file `createPlayer.js` in this location `client/src/actions/players/` in the `cr

[2018-04-18 02:34] IRGames commented on #80
When you try adding a player, does it also "break" the app, like in these pictures?
![image](https://user-images.githubusercontent.com/22033921/38908691-73bf967a-428f-11e8-86e4-a71933ee914a.png)
![image](https://user-images.githubusercontent.com/22033921/38908694-76b7ac64-428f-11e8-9400-41329e034418.png)

[2018-04-19 02:40] afranco07 commented on #80
@IRGames yes you are correct about the `data.pending = false;` and I already have some logic that checks if you are the admin for setting that. The problem is I need to somehow update the roster to include the new player you just created (without refreshing the page, just the state). If I go to the team roster, the player is not shown. However if I refresh the page then the player does show up in

[2018-04-19 02:54] IRGames commented on #80
Ok!  If you could, I'd like to see the error.  When my app crashed on my end, no error appeared.

I noticed one of the "To Dos" for the app was to "Finish writing out roles" (admin, coach, etc).  When you get a chance, could you show me where you added the logic to check for admin?  I was wondering if/how the app is currently set up to check a user's role.  Thanks for talking things out with me he

[2018-04-19 12:12] IRGames commented on #83
This resolves the issue (at least as far as I can see), but I'm not certain if I'm obeying conventions.  Is it OK that I'm inserting validation logic into playerDetails.jsx?

[Link to change](https://github.com/IRGames/league-for-good/pull/1/commits/19ea35d46e5177b771b79d4a4e21318d3b29e329)

(note:  I'm sharing my changes via link because I don't want to junk up pull requests with something I'm no

[2018-04-19 19:42] afranco07 commented on #80
@IRGames I new to react and redux as well so this might not be the best way to do it but, here's a little snippet on how I am getting the users role. I get the current users email from redux state and find them under the staff array in the redux state (I save it into user variable). Then I check if the users role is `Admin` using the ternary `if` statement.

[code]

Then under createPlayer.js I ha

[2018-04-19 22:05] IRGames commented on #80
@afranco07 Thanks for the reply!  When you've been looking at the app, have you seen any other places where a user's role has been checked?  I see that the Administrator, General Manager and Coach roles have been defined in `roles.config.js`, but I don't see any code that involves their implementation.

I ask because of the following "To Do" in writing out the roles:
Finish writing out roles:

If

[2018-04-20 03:11] makkoli commented on #80
Hey guys, taking on the role task is a big ask. Significant parts of the app are in need of some refactoring to get it to work. You can join us on our slack at fcc-leagueforgood.slack.com. No one has been really using it, but I'm usually on slack everyday if you want to talk more about this.

[2018-04-20 03:12] makkoli commented on #50
I don't think anyone is currently actively working on this. This isn't high priority, but does need to be done.

[2018-04-20 18:52] afranco07 commented on #80
@makkoli how do we sign up for the slack?

[2018-04-20 18:59] makkoli commented on #80
@afranco07 Yeah, I actually forgot I need to invite you to the workspace. If you give me your email I can send you an invite.

[2018-04-20 19:33] afranco07 commented on #80
@makkoli afranco527@gmail.com

[2018-04-20 19:35] makkoli commented on #80
@afranco07 Sent.

[2018-04-20 19:58] IRGames commented on #80
@makkoli isaac.w.raymond@gmail.com
thanks!

[2018-04-20 19:59] makkoli commented on #80
@IRGames sent

[2018-04-29 20:03] emjayess opened #94 ""Failed to compile" - Can't resolve './CreateLeagueButton.jsx'"
Hi. I'm brand new to the project, or brand new to wanting to explore the project; but I cloned it yesterday, and failed to get it up and running...

### Steps I followed:
* Cloned `master`@`28f8e33` on 4/28/2018.
* Added `.env` to project...
* Per Readme, added environment vars to `.env` (and provisioned Google+ Api)
* `npm install`
* `npm run dev`

### Asciicast of terminal output:
* https://asci

[2018-04-29 20:07] IRGames commented on #94
Hey!

You'll get a few of these errors I think - Just go into your files and change all import statements to "CreateLeagueButton.js".  For example:  components/create_league/CreateLeagueSelector.jsx, should now import "CreateLeagueButton.js" instead of jsx

Just a small glitch that was recently pushed

[2018-04-29 20:07] IRGames commented on #94
If you haven't done so already, join us on Slack!  (Check the readme for the link)

[2018-05-04 11:26] domwakeling opened #97 "Archiving of leagues"
Background: FCC are not keen for there to be any ability to delete a league in it's entirety from the database

Issue: If you have a lot of leagues, it would be good to be able to "hide" them

Proposal: Include an 'archive' section in the left-hand NavBar, collapsed to just the title by default, and the ability in league settings to send a league to archive / return a league to active status

[2018-05-04 11:28] domwakeling commented on #97
I've started looking at this (have progressed to having archived leagues showing up in the NavBar, but still have the rest of the UI/actions to implement)

[2018-05-04 11:35] domwakeling opened #98 "Menu show/hide not working?"
Looking at the code I **think** that the 'hamburger' in the AppBar is intended to show/hide the left-hand NavBar? Not doing do on my local version.

Alternatives are to implement show/hide or remove the hamburger

[2018-05-07 15:02] domwakeling commented on #85
I didn't realise that it was autocompleting, and if you start typing a name that isn't in the database you might not see it; if the intention is to stick with autocomplete rather than a dropdown, suggest there should be placeholder text "start typing to see a list of matching teams/players" or something similar.

(Obviously that example wouldn't fit as a placeholder at the moment ...)

[2018-05-07 15:06] domwakeling opened #99 "Team filter not working"
The dropdown filter for all teams/active teams/archived teams(dashboard, teams tab, default "View your current teams") shows a blank list when "active teams" is selected regardless of teams actually being designated active.

[2018-05-07 18:53] domwakeling commented on #98
Have a fix for this ready to go ...

[2018-05-07 19:04] domwakeling opened #100 "Feature/Styling on New Staff form"
On the 'new staff' form (dashboard Settings tab, "add a new member of staff ..."):

* clicking on the 'more info' icon next to role should give a description of roles
* the field for selecting role is too narrow (unless on an ultra-wide screen) compared to the text options presented

[2018-05-14 14:37] domwakeling opened #101 "Styling review - mobile views"
Have had a look at how the app looks on a mobile device using [Responsinator](http://www.responsinator.com/); doubtful that anyone would want to use it on a phone but I think optimising for tablet viewing is probably a good idea?

Suggest immediate issue is width of the drawer (`Menu.jsx`) which is currently set at 15% for viewports above 'mobile' - means that it renders with cut-off text on every

[2018-05-14 15:37] domwakeling commented on #98
Fix proposed in PR #102

[2018-05-14 18:47] #98 closed

[2018-05-17 19:46] AbdulrahmanEng opened #104 "Webpack does not compile due to the following errors:"
Webpack does not compile due to the following errors:

[code]

[2018-09-02 19:12] paulywill commented on #104
I am also seeing a similar warning:

[code]

[2018-09-02 19:32] paulywill opened #107 "npm audit -> moderate alert for tunnel-agent"

[2018-09-02 19:34] paulywill commented on #107
[code]

[2018-09-04 20:41] paulywill opened #108 "Button and Dashboard is no longer working"
Need some confirmation... but I have tried to generate a new clone from the repo and the dashboard does not appear to be working for any of the buttons.

Is anyone else having this issue with a fresh copy?

[2018-09-04 20:52] paulywill commented on #108
@makkoli : is there any reason some of the buttons on the dashboard would stop working?

[2018-09-06 01:03] paulywill commented on #108
![image](https://user-images.githubusercontent.com/602422/45129004-15bc6100-b14f-11e8-9a01-ca286447f907.png)

[2018-09-06 05:16] paulywill commented on #108
I'm trying to test if the issue is because of the depreciation of [material-ui](https://www.npmjs.com/package/material-ui)  and reference [@material-ui/core](https://www.npmjs.com/package/@material-ui/core) instead in [CreateLeagueSelector.jsx](https://github.com/freeCodeCamp/league-for-good/blob/master/client/src/components/create_league/CreateLeagueSelector.jsx)

ie.

[code]

However the Eslint

[2018-09-06 15:30] paulywill commented on #108
After studying the history of [TravisCI builds](https://travis-ci.org/freeCodeCamp/league-for-good/builds) I git checkout  [74a6fb9](https://github.com/freeCodeCamp/league-for-good/commit/74a6fb98d8c6d7edf96861200901ec080ac2bb5e) which was the last successful build.

The dashboard appears to functional at this point.

Some of the recent commits will have have to be checked as to which causing the

[2018-09-06 16:05] paulywill commented on #108
@ahstein3521 : what were the features you were implementing in  [b1982a2](https://github.com/freeCodeCamp/league-for-good/commit/b1982a22b9cc3f3e1d4b50cec86dab3966a570b2)?

[2018-09-06 17:42] paulywill commented on #108
Commit for master: [8916011](https://github.com/freeCodeCamp/league-for-good/commit/8916011c36a0213ae49e76d8771afc28c754a07a) appears to compile correctly as well.

[2018-09-08 21:09] lieberscott commented on #108
I figured it out. The onTouchTap event has been deprecated from material-ui and needed to be replaced with onClick in the CreateLeagueButton.jsx file
it should work now, I submitted a pull request [https://github.com/freeCodeCamp/league-for-good/pull/109]

[2018-09-09 04:30] paulywill commented on #108
@lieberscott Can you check the other view/panels?

ie the Games list icon is not working, but the Teams roaster list icon is for mine.

[2018-09-09 04:42] paulywill commented on #107
The issue already on the radar...

https://github.com/kevva/caw/issues/22

[2018-09-09 08:29] lieberscott commented on #108
@paulywill Ahh, yes, same here. It seems there are onTouchTap functions throughout the code. I'm making my way through to replace them all with onClick. Games icon you referenced is here ...

client > src > components > dashboard > seasons > seasons_list > seasonLink.jsx

changing onTouchTap to onClick should work there. Let me know. Meanwhile I'll make a new PR when I think I've replaced all the

[2018-09-09 12:35] lieberscott commented on #108
I just updated the PR, I think I got them all working

[2018-09-09 15:52] hcuffy opened #111 "Client does not load (Only a blank screen is displayed)"
To reproduce:
 - Fork and download the repo
 - Setup up environment as for README
 - Subdue errors associated with: https://github.com/freeCodeCamp/league-for-good/issues/104
 - Run npm run dev

Result: A blank screen is displayed.

- Check the console the following will be displayed:
`Uncaught TypeError: Cannot read property 'injection' of undefined
    at e.exports (injectTapEventPlugin.js:23)

[2018-09-09 16:30] lieberscott commented on #111
This is because the onTouchTap event is deprecated, and so the React Tap Event Plugin code no longer works with the latest version of React. I have a pull request to remove this code from the app and to change the deprecated onTouchTap events that are scattered throughout the app to onClick.

My pull request is here: https://github.com/freeCodeCamp/league-for-good/pull/109

Since my PR hasn't been

[2018-09-10 00:03] paulywill commented on #108
@lieberscott, nice!
There may be a few more.

The delete button under games doesn't appear to work.
![image](https://user-images.githubusercontent.com/602422/45270402-1d3f7b00-b46b-11e8-9d97-4e79911b8499.png)

Nor the back button when editing a game.

![image](https://user-images.githubusercontent.com/602422/45270426-5546be00-b46b-11e8-919e-0e354fafff15.png)

This is where some more TDD and tests

[2018-09-10 05:02] hcuffy commented on #111
@lieberscott The issue has been fixed 👍.--Closing issue.

[2018-09-10 05:02] #111 closed

[2018-09-18 19:33] hcuffy commented on #82
@makkoli @paulywill anyone tackling this? I'll give it a look.

[2018-09-18 22:44] paulywill commented on #82
@hcuffy Go for it!

[2018-09-19 00:32] #108 closed

[2018-09-19 00:40] paulywill commented on #101
@domwakeling That's a pretty cool site!

Was not able to get past my local google login though.

I can see you're right though....we ought to do some mobile view testing.

Would Chrome developer mode work just the same?

[2018-09-19 00:42] paulywill commented on #101
![image](https://user-images.githubusercontent.com/602422/45724274-51115380-bb83-11e8-985f-05e47e17e373.png)

[2018-09-19 00:50] paulywill commented on #80
@makkoli Can this issue be closed?

[2018-09-19 15:55] hcuffy opened #117 "Clicking on settings generates prop type error"
- Log in to the league.
- Open the console
- Create a league -> open the league -> Click on settings.

In the setting this error will be generated

`VM2888 checkPropTypes.js:19 Warning: Failed prop type: Invalid prop `roles[0]` of type `string` supplied to `Icon`, expected `object`.
    in Icon (created by Connect(Icon))
    in Connect(Icon) (created by StaffList)
    in span (created by TableBody

[2018-09-19 16:09] hcuffy opened #118 "It is not possible to add new staff member"
- Log in to the league.
- Open the console
- Create a league -> Open your league -> Click on settings -> Click add member icon.

The screen will go blank with several errors and warnings:

First error:
`VM7000 react-dom.development.js:55 Uncaught Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React

[2018-09-20 23:36] afranco07 commented on #80
@paulywill This issue has been fixed?

[2018-09-24 05:19] #42 closed

[2018-12-24 19:39] manaswinidas opened #122 "Broken link in CONTRIBUTING.md"

[2018-12-24 19:45] manaswinidas commented on #122
I guess it's already solved in #121

[2019-01-10 09:47] greeneyz opened #123 "Live Demo"
Anyone having a running demo of application??

[2019-02-14 20:56] paulywill commented on #123
@greeneyz Yes, I do. :)

![image](https://user-images.githubusercontent.com/602422/52817002-8f4a6a80-3070-11e9-96c1-ce5f3d93e3e0.png)

Some notes about my fresh install:

1. I use mlab.com for my monbo database
2. Playing the Google+ API can be tricky... they will be [sunsetting](https://developers.google.com/+/api-shutdown) this soon and we will have to address  :S

[2019-02-14 21:00] paulywill opened #124 "Google+ API will be sunsetting and decommissioning"
[Notice that Google+ API will be sunsetting in March 2019](https://developers.google.com/+/api-shutdown)

We require a new OAuth API for logging in.

[2019-02-15 02:40] paulywill commented on #124
https://github.com/jaredhanson/passport-google-oauth2/issues/50

[2019-02-20 16:31] paulywill commented on #124
https://www.npmjs.com/package/passport-google-oauth20-without-google-plus

[2019-03-12 18:43] paulywill commented on #124
https://medium.com/passportjs/google-api-shutdown-330c3b47e3df

[2019-05-17 16:53] #82 closed

[2019-05-17 17:18] paulywill opened #128 "Feature Request: Add Tennis/racquetball or Custom Sport"
Asked on our Slack channel:

![image](https://user-images.githubusercontent.com/602422/57944753-f2cd7980-78a5-11e9-99ba-b28d550912dd.png)

I believe the simple solution is to add `Tennis/racquetball/squash` to the list... but a feature that would cover this and more (i.e. **Roller Derby** ) would to have a Custom Sport option.

Same as the other leagues but also include the option to upload an ico

[2019-05-18 04:28] #124 closed

[2019-05-18 04:31] #122 closed

[2019-05-24 21:31] Raul9595 commented on #128
Can I work on this ?

[2019-05-25 13:20] paulywill commented on #128
@Raul9595 hell yeah! :)

Make a PR and mention this Issue number.

[2019-05-25 20:26] domwakeling commented on #97
PR #103 (now merged) closes this

[2019-05-25 20:26] #97 closed

[2019-05-27 14:53] domwakeling opened #129 "MaterialUI out of date?"
Watching the (client) console, it's apparent that there is a props error:

[code]

I'm 99% certain (heck, I'm certain) that this is being thrown from nested lists in the 'Archived Leagues' menu item, introduced in PR #103. I'm not sure **why** it's throwing an error, since the docs for MaterialUI v0.20.0 state that `nestedItems` should be passed as an array.

However, this also raises the point th

[2019-05-27 15:09] paulywill commented on #129
Are you able to test locally with the latest version of Material UI?

I'm always with the mindset that to keep a project fresh and active that it must have the latest versions of dependencies.

[2019-05-27 15:18] domwakeling commented on #129
OK, I'll try to get a local version working on v4.0.x

[2019-05-28 16:26] domwakeling commented on #129
So turns out (not entirely surprisingly) that a large part of the API for Material-UI has been re-written; working on it ...

[2019-06-21 14:29] domwakeling commented on #129
Quick update, still working on this intermittently - not forgotten!

[2020-05-18 10:26] #107 closed